#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

#github-container{
  
  padding: 20px;
  align-items: center;
  margin-left: 500px;
  margin-top: 50px;

}

#repos-list {
  padding: 20;
  align-items: center;
  margin-left: 2px;
  margin-top: 10px;
}

#ticketsid{
  padding: 20px;
  align-items: right;
  margin-left: 20px;
  margin-top: 50px;
}

#image {
  width: 400px;
  height: auto;
}

#tickets {
  display: flex;
}

#forms div {
  display: inline-block;
  margin-right: 10px;
}
