#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

#github-container{
  
  padding: 20;
  align-items: center;
  margin-left: 500;
  margin-top: 50;

}

#repos-list {
  padding: 20;
  align-items: center;
  margin-left: 2;
  margin-top: 10;
}

#ticketsid{
  padding: 20;
  align-items: right;
  margin-left: 20;
  margin-top: 50;
}

#image {
  width: 400;
  height: auto;
}

#tickets {
  display: flex;
}

#forms div {
  display: inline-block;
  margin-right: 10px;
}
